{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<h1>POSTS</h1>
{% endblock %}

<ul class="post-list styleless-list">
{% for article in articles %}
  <li>
     <h2 class="article-title" ><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> 
    <div class="author-and-date">
      <span class="publish-time" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </span>
    </div>
    <!-- /.post-info -->
    {% if article.summary %}
        <div class="entry-summary"> {{ article.summary }} </div><!-- /.entry-content -->
    {% endif %}
  </li>
{% endfor %}
</ul><!-- /#posts-list -->
</section><!-- /#content -->
{% endblock content %}

