{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
{% endblock %}

<ul class="post-list styleless-list">
{% for article in articles %}
  <li>
    {% if article.featured_image %}
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">
      <img class="post-thumbnail" src="{{ article.featured_image }}">
    </a>
    {% endif %}
    <div class="article-data">
      <h2 class="article-title" ><a class="no-decoration" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> 
      <div class="article-metadata">
        <time class="published" datetime="{{ article.date.isoformat() }}">
          {{ article.locale_date }}
        </time>
        {% if article.modified %}
          <time class="modified" datetime="{{ article.modified.isoformat() }}">
            (Last modified {{ article.locale_modified }})
          </time>
        {% endif %}
        <div>
          Stats: 
          {% if article.readtime %}
           -{{article.readtime.minutes}} [minutes of your life]
          {% endif %}
          {% if article.tags %}
            {% for tag in article.tags %}
             +1 <a href="{{ SITEURL }}/{{ tag.url }}">[{{ tag }}]</a> 
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <!-- /.post-info -->
      {% if article.summary %}
        <div class="entry-summary"> {{ article.summary }} </div>
      {% endif %}
    </div>
  </li>
{% endfor %}
</ul><!-- /#posts-list -->
</section><!-- /#content -->
{% endblock content %}

