[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
[submodule "plugins/pelican-global-rst-include"]
	path = plugins/pelican-global-rst-include
	url = git@github.com:ryancdotorg/pelican-global-rst-include.git
