/******************************************************************************/
/*                               General Style                                */
/******************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  color: #272727;
  line-height: 1.3;
  font-size: 19px;
  background: 0 0;
  font-family: "Fira Sans", "sans-serif"
}
h1 {
  margin-bottom: 5px;
}
.no-decoration {
  text-decoration: none;
}
a:hover{
  background-color: #eee;
}
.styleless-list li{
  list-style: none;
}

* {
  text-size-adjust: none;
}
ul li {
  padding: 2px;
  padding-left: 6px;
}
ol {
  margin-left: 30px;
  padding-bottom: 1rem;
}
blockquote {
  color: #272727;
  border-left: 4px solid #272727;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
.wrapper {
  max-width: 768px;
  margin: auto;
  padding: 60px 30px;
}

.main-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
}
.main-header a{
  text-decoration: none;
  color: #272727;
}
.site-title{
  font-size: 3em;
}
.site-title .prompt{
  font-weight: 600;
}
.site-subtitle{
  font-style: italic;
  margin-left: 10px;
  margin-top: 0.5rem;
}
.navigation-section{
  font-weight: 600;
  border-right: 2px dashed #272727;
  padding-right: 0.4em;
  text-transform: uppercase;
  text-align: right;
  align-self: stretch;
}
.navigation-section ul{
  margin: 0px;
}
.post-list{
  margin: 0px;
  margin-left: 1em;
  padding-inline-start: 0px;
  -webkit-padding-start: 0px;
}
.post-list li{
  background-color: #eee;
  margin: 10px 0px;
  padding: 10px
}
.post-info{
  display: inline;
}
.publish-time{
  font-style: italic;
}
.article-title{
  margin: 0px;
}
.entry-summary p {
  margin: 0px;
}
.author-and-date{
  margin: 0.5em 1em;
}
.strike {
  text-decoration: line-through;
}

.wrapper > footer {
  /* I've got no formal knowledge of formatting, and this shows it */
  margin-top: 4em;
}

.inline-icon {
  display: inline;
  max-height: 1em;
  max-width: 1em;
  vertical-align: bottom;
}

.entry-content img, .entry-content video {
  padding: 1em 5%;
  display: block;
  margin: auto;
  background-color: #e0e0e0;
  max-width: 85%;
}

.entry-content video {
  padding: 1em;
}

/* for reStructuredText ``code`` */
tt {
  background-color: #efefef;
}

.highlight pre {
  padding: 0.5em;
  background-color: #efefef;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.allcaps{
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0.4rem;
  }
  .post-list{
    margin-left: 0px;
  }
}
